{% extends 'qshop/shoppage.html' %}
{% load sitemenu thumbnail %}
{% load url from future %}

{% block shopcontent %}

    <h2>{{ product.name }} ({{ product.articul }})</h2>

    {% if product.image %}
        <img src="{% thumbnail product.image 100x100 %}" /><br>
    {% endif %}

    {% if product.get_additional_images %}
        {% for image in product.get_additional_images %}
            <img src="{% thumbnail image.image 30x20 %}" />
        {% endfor %}
    {% endif %}

    {% if product.description %}
        <h3>Description</h3>
        <div>
            {{ product.description }}
        </div>
    {% endif %}

    <div>
        <h2>Order variant 1</h2>
        <form method="get" action="{% url 'add_to_cart' product_id=product.pk %}">
            {% if product.has_variations %}
                <h3>Prices</h3>
                <table>
                    {% for variation in product.get_variations %}
                        <tr>
                            <td><input type="radio" name="variation" value="{{ variation.pk }}" /></td>
                            <td>{{ variation.name }}</td>
                            <td>{{ variation.get_fprice }}{% if variation.has_discount %} old price: {{ variation.get_fprice_real }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>Price</h3>
                <p>{{ product.get_fprice }}{% if product.has_discount %} old price: {{ product.get_fprice_real }}{% endif %}</p>
            {% endif %}

            <div>
                    <label>Quantity: </label><input type="text" name="quantity" value="1" /><br />
                    <input type="submit" value="Add to cart" />
            </div>
        </form>
    </div>

    <div>
        <h2>Order variant 2</h2>
        <form method="get" action="{% url 'add_to_cart' product_id=product.pk %}">
            {% if product.has_variations %}
                <h3>Prices</h3>
                <table>
                    {% for variation in product.get_variations %}
                        <tr>
                            <td><input type="text" name="variation_quantity_{{ variation.pk }}" value="0" /></td>
                            <td>{{ variation.name }}</td>
                            <td>{{ variation.get_fprice }}{% if variation.has_discount %} old price: {{ variation.get_fprice_real }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>Price</h3>
                <p>{{ product.get_fprice }}{% if product.has_discount %} old price: {{ product.get_fprice_real }}{% endif %}</p>
                <div>
                    <label>Quantity: </label><input type="text" name="quantity" value="1" /><br />
                </div>
            {% endif %}

            <div>
                    <input type="submit" value="Add to cart" />
            </div>
        </form>
    </div>

    {% if product.has_parameters %}
        <h3>Parameters</h3>
        <dl>
            {% for parameter in product.get_parameters %}
                <dd>{{ parameter.name }}</dd>
                <dt>{{ parameter.value }}</dt>
            {% endfor %}
        </dl>
    {% endif %}

{% endblock shopcontent %}
