{% extends 'qshop/shoppage.html' %}
{% load sitemenu thumbnail %}

{% block shopcontent %}

    {% if menu.get_childs %}
    <h2>Subcategories</h2>

        {% for child in menu.get_childs %}
            <a href="{{ child.get_absolute_url }}">{{ child.title }}</a>
        {% endfor %}
    {% endif %}

    {% if productdata.products_page.object_list or productdata.filters %}
        <h2>Products</h2>

        {% if productdata.filters %}
            {% for filter_id, filter_data in productdata.get_filters %}
                <div>{{ filter_data.name }}:
                    {% for value_id, value_data in filter_data.values %}
                        {% if value_data.active %}
                            <a href="{{ productdata.link_for_page }}?filterdel=f{{ filter_id }}-{{ value_id }}" rel="nofollow">☑ {{ value_data.name }}</a>({{ value_data.count }})
                        {% elif value_data.unaviable %}
                            ☒ {{ value_data.name }}({{ value_data.count }})
                        {% else %}
                            <a href="{{ productdata.link_for_page }}?filteradd=f{{ filter_id }}-{{ value_id }}" rel="nofollow">☐ {{ value_data.name }}</a>({{ value_data.count }})
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        {% comment %}
            Also ?filterset= is aviable. It will reset filters in it's category.
        {% endcomment %}

        <br />
        <div>
            Sorting:
            {% for variant in productdata.get_sorting_variants %}
                {% if variant.selected %}<b>{% endif %}<a href="{{ variant.link }}">{{ variant.name }}</a>{% if variant.selected %}</b>{% endif %}
            {% endfor %}
        </div>

        <table width="100%">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        {% for product in productdata.products_page.object_list %}
            <tr>
                <td><a href="{{ product.get_absolute_url }}"><img src="{% thumbnail product.image 100x100 %}" /></a></td>
                <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                <td>
                    {% if product.has_variations %}from {% endif %}{{ product.get_fprice }}{% if product.has_discount %} old price: {{ product.get_fprice_real }}{% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if productdata.products_page.has_previous %}
                    <a href="{{ productdata.link_for_page }}page-{{ productdata.products_page.previous_page_number }}/">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ productdata.products_page.number }} of {{ productdata.products_page.paginator.num_pages }}.
                </span>

                {% if productdata.products_page.has_next %}
                    <a href="{{ productdata.link_for_page }}page-{{ productdata.products_page.next_page_number }}/">next</a>
                {% endif %}

            </span>
        </div>
    {% endif %}

{% endblock shopcontent %}
