{% extends 'sitemenu/simplepage.html' %}
{% load sitemenu qshop %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="cart_icon"><a href="{% url 'cart' %}">Cart ({% qshop_items_in_cart_with_qty %})</a></div>
    <div class="left_column">
        {% set_catalogue_root %}
        {% render_sitemenu '_menu' catalogue_root %}
    </div>
    <div class="right_column">
        {{ block.super }}

        {% block shopcontent %}{% endblock shopcontent %}
    </div>
{% endblock content %}
