{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}

<p>{% trans "select category to apply"|capfirst %}:</p>

<form action="" method="post">
    {% csrf_token %}

    {{ form }}

    <p>{% trans "category will be applied to"|capfirst %}:</p>

    <ul>{{ queryset|unordered_list }}</ul>

    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}

    <input type="hidden" name="action" value="link_to_category" />
    <input type="submit" name="apply" value="{% trans "apply" %}" />
</form>

{% endblock %}
