{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}

<p>{% trans "set discount by"|capfirst %}:</p>

<form action="" method="post">
    {% csrf_token %}

    {{ form }}

    {% blocktrans %}<p>If 10 is entered, then discount price for all products will be 90% of price. For product with price 200 discount price will be 180.</p><p>Enter 0 to remove discount prices.</p><p>Will be applied to:</p>{% endblocktrans %}

    <ul>{{ queryset|unordered_list }}</ul>

    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}

    <input type="hidden" name="action" value="set_discount" />
    <input type="submit" name="apply" value="{% trans "apply" %}" />
</form>

{% endblock %}
