{% load i18n %}
<table style="border-collapse: collapse; width: 650px; font-size: 12px; ">
    <thead>
        <tr style="border-bottom: 1px dotted #CCC; background-color: #F0EFEF;">
            <th style="padding: 2px 15px; ">{% trans "Product" %}</th>
            <th style="padding: 2px 15px; ">{% trans "Price" %}</th>
            <th style="padding: 2px 15px; ">{% trans "Qty" %}</th>
            <th style="padding: 2px 15px; ">{% trans "Sum" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr style="border-bottom: 1px dotted #CCC; text-align: center">
            <td><a href="http://{{ site.domain }}{{ item.product.get_absolute_url }}">{{ item.product.name }}</a><br />{{ item.product.articul }}</td>
            <td>{{ item.product.get_price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_fprice }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right; paddin: 5px 15px">{% trans "Price" %}:</td>
            <td style="text-align: center"><b style="color: #007CC3;">{{ cart.total_fprice }}</b></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right; paddin: 5px 15px">{% trans "Delivery" %}:</td>
            <td style="text-align: center"><b style="color: #007CC3;">{{ cart.delivery_fprice }}</b></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right; paddin: 5px 15px">{% trans "Total price" %}:</td>
            <td style="text-align: center"><b style="color: #007CC3;">{{ cart.total_fprice_with_delivery }}</b></td>
        </tr>
    </tfoot>
</table>
