{% extends 'qshop/shoppage.html' %}
{% load i18n thumbnail %}
{% load url from future %}

{% block body_id %}cart_show_body{% endblock %}

{% block shopcontent %}
<div class="cart">

        {% if cart.total_products == 0 %}
            <h2>{% trans 'Cart is empty' %}</h2>
        {% else %}
            <form method="POST" action="{% url 'update_cart' %}" id="j_prod_table">
            {% csrf_token %}
            <table class="buy-table">
                <thead>
                    <tr>
                        <th class="name">{% trans "Product name" %}</th>
                        <th class="sku">{% trans "SKU" %}</th>
                        <th class="variation">{% trans "Variation" %}</th>
                        <th class="qty">{% trans "Qty" %}</th>
                        <th class="discount">{% trans "Discount" %}</th>
                        <th class="price">{% trans "Price" %}</th>
                        <th class="total">{% trans "Sum" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td class="name">
                            {% if item.product.image %}
                            <a href="{{ item.product.get_absolute_url }}" class="img" title="{{ item.product.name }}"><img src="{% thumbnail item.product.image 100x100 %}" alt="title"/></a>
                            {% endif %}
                            <h3>{{ item.product.name }}</h3>
                            {{ item.product.description|striptags|truncatewords:20|safe }}
                        </td>
                        <td class="sku">{{ item.product.articul }}</td>
                        <td class="sku">{% if item.product.has_variations %}{{ item.product.selected_variation.name }}{% endif %}</td>
                        <td class="qty">
                            <input type="text" name="quantity.{{ item.pk }}" value="{{ item.quantity }}" class="j_qty_input" />
                            <a href="{{ item.get_cartremove_url }}">{% trans "remove" %}</a>
                        </td>
                        <td class="discount">
                            {% if item.product.get_discount_percent %}{{ item.product.get_discount_percent }}%{% else %}{% endif %}
                        </td>
                        <td class="price">{{ item.product.get_fprice }}</td>
                        <td class="total">{{ item.total_fprice }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type="submit" value="Update Quantities" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="refresh">
                        <td class="tt" colspan="5">{% trans "Total price" %}:</td>
                        <td class="total">{{ cart.total_fprice }}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="clear"></div>
            <a href="{% url 'order_cart' %}">{% trans "Make Order" %}</a>
            <div class="clear"></div>
            </form>
        {% endif %}
</div>
{% endblock shopcontent %}
